<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
<!--now the template folder is work-->
<!--{{name}} is from {{place}}-->
<h1>welcome to the text analyzer.Enter your text< below</h1>
<form action='analyze' method='get'>
    <textarea name='text' style="height: 71px; width: 685px;"></textarea><br>
    <input type="checkbox" name="remover">remove punctuations,<br>
    <input type="checkbox" name="full_caps">UPPERCASE,<br>
    <input type="checkbox" name="newline_remover">New Line Remover,<br>
    <input type="checkbox" name="space_remover">remove the extra space,<br>
    <button type='submit'>Analyze Text </button>
</form>
</body>
</html>